header
  color: white

  +tablet
    width: 100%
    height:
    position: relative

  +mobile
    padding: 1.5rem

  nav.site
    display: flex-item

    a
      text-decoration: none

  nav.main-menu
    display: none
    +fill
    background-color: $color-black

  .sidebar
    display: flex-item

  .colophon
    display: flex-item

    .legal,
    .social
      display: inline-block
      font-size: $type-size-small

    li
      display: inline-block

      &::before
          content: '·'

      a
        text-decoration: none

        &:hover
          text-decoration: underline
