body

  &.members
    header
      background-color: $color-green

  &.shop
    header
      background-color: $color-yellow

  &.blog
    header
      background-color: $color-pink

  &.contact
    header
      background-color: $color-purple


header
  z-index: 10
  width: 30%
  background-color: $color-blue
  color: white
  position: fixed
  top: 0
  left: 0
  height: 100%
  padding: 3rem

  .wordmark
    a
      text-decoration: none

