*,
*::before,
*::after
  outline: none

body
  position: relative
  color $color-blue

  &.home
    background-color: $color-blue

  &.members
    background-color: $color-green

  &.shop,
  &.product
    background-color: $color-yellow

  &.blog,
  &.post
    background-color: $color-pink

  &.contact
    background-color: $color-purple

main
  background-color: $color-white
  
a
  color: inherit
  text-decoration: underline

img
  display: block
  max-width: 100%

button,
.button
  +button

input
  +input
