*,
*::before,
*::after
  outline: none

body
  background-color: white
  position: relative

header,
main,
footer
  position: relative
  z-index: 1
  
a
  color: inherit
  text-decoration: underline

img
  display: block
  max-width: 100%
