.avatar
  border-radius: 100%
  overflow: hidden
  padding-bottom: 100%
  position: relative

  img
    position: absolute
    top: 0
    left: 0
    width: 100%

.cover
  height: 100vh
  background-size: cover
  background-position: center center

.price
  &::before
    content: '$'

.pagination
  padding-top: 0
  
  .next
    +span-columns(6)

  .previous
    +span-columns(6)
    text-align: right

    +mobile
      margin-top: 0.5rem

    &:first-child
      +shift(6)
      +mobile
        +shift(0)

  .next,
  .previous
    +mobile
      +span-columns(12)
      text-align: left

      .button
        width: 100%
