.cover
  height: 100vh
  background-size: cover
  background-position: center center

.pagination
  padding-top: 0
  
  .next
    +span-columns(6)

  .previous
    +span-columns(6)
    text-align: right

    +mobile
      margin-top: 0.5rem

    &:first-child
      +shift(6)
      +mobile
        +shift(0)

  .next,
  .previous,
  .return
    +mobile
      +span-columns(12)
      text-align: left

  a
    +button
