// Walsheim Regular + Oblique
@font-face
  font-family: 'walsheim'
  src: url('../fonts/GT-Walsheim-Regular-2.eot')
  src: url('../fonts/GT-Walsheim-Regular-2.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Walsheim-Regular-2.woff') format('woff'), url('../fonts/GT-Walsheim-Regular-2.ttf') format('truetype'), url('../fonts/GT-Walsheim-Regular-2.svg#fontname') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'walsheim'
  src: url('../fonts/GT-Walsheim-Regular-Oblique-2.eot')
  src: url('../fonts/GT-Walsheim-Regular-Oblique-2.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Walsheim-Regular-Oblique-2.woff') format('woff'), url('../fonts/GT-Walsheim-Regular-Oblique-2.ttf') format('truetype'), url('../fonts/GT-Walsheim-Regular-Oblique-2.svg#fontname') format('svg')
  font-weight: normal
  font-style: oblique

// Walsheim Bold + Oblique
@font-face
  font-family: 'walsheim'
  src: url('../fonts/GT-Walsheim-Black-2.eot')
  src: url('../fonts/GT-Walsheim-Black-2.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Walsheim-Black-2.woff') format('woff'), url('../fonts/GT-Walsheim-Black-2.ttf') format('truetype'), url('../fonts/GT-Walsheim-Black-2.svg#fontname') format('svg')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'walsheim'
  src: url('../fonts/GT-Walsheim-Black-Oblique-2.eot')
  src: url('../fonts/GT-Walsheim-Black-Oblique-2.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Walsheim-Black-Oblique-2.woff') format('woff'), url('../fonts/GT-Walsheim-Black-Oblique-2.ttf') format('truetype'), url('../fonts/GT-Walsheim-Black-Oblique-2.svg#fontname') format('svg')
  font-weight: 900
  font-style: oblique
