section
  padding: 3rem

  +mobile
    padding: 1.5rem

  .wrap
    +outer-container

header
  width: 30%
  position: fixed
  top: 0
  left: 0
  height: 100%
  padding: 3rem
  display: flex
  flex-direction: column
  justify-content: space-between

main
  position: relative
  margin-left: 30%
  min-height: 100vh

  +tablet
    margin-left: 0
    min-height: 100%

footer
