=size($dimension, $clamp: max)
  @media screen and ( #{$clamp}-width: $dimension )
    @content

=mobile
  +size(640px)
    @content

=tablet
  +size(960px)
    @content

=wide
  +size(1400px, min)
    @content

=button($color: $color-green)
  font-weight: $type-weight-bold
  font-family: $type-family-sans
  font-size: 100%
  color: $color
  background-color: $color-white
  border: 2px solid $color
  padding: 0.75em 1.25em 0.65em 1.25em
  text-align: center
  text-decoration: none
  cursor: pointer
  display: inline-block
  border-radius: 4px
  line-height: 1
  width: auto
  +transition(0.15s linear box-shadow)

  &:hover
    background-color: $color
    color: $color-white

  &:focus
    background-color: darken($color, 10%)
    border-color: darken($color, 10%)
    color: $color-white

=input($color: $color-green)
  font: inherit
  color: $color
  background-color: $color-white
  border: 2px solid $color
  padding: 0.75rem 1rem
  text-decoration: none
  display: block
  border-radius: 4px
  width: 100%
  -webkit-appearance: none
  font-size: 100%

=sticker($size: 100px, $color-fill: $color-black, $color-text: $color-white)
  $font-size: ($size / 4)
  width: $size
  height: $size
  border-radius: 100%
  font-size: $font-size
  line-height: 1
  display: block
  position: relative
  background-color: $color-fill
  color: $color-text

  & > *
    position: absolute
    text-align: center
    width: 100%
    top: ($size / 2) - ($font-size / 2)


=fill($position: absolute)
  position: $position
  top: 0
  left: 0
  width: 100%
  height: 100%

=filling-image
  padding: 0
  overflow: hidden

  img
    max-width: none

=lazy-image
  opacity: 0
  +transition(0.25s linear opacity)

  &.loaded
    opacity: 1

=small-caps
  font-size: 0.8em
  text-transform: uppercase
  letter-spacing: 0.04em

=inline-list
  li
    display: inline

    &:not(:last-child)::after
      content: ', '
