// Typography

$type-family-sans: 'walsheim', 'Avenir', 'Arial', sans-serif

$type-weight-base: normal
$type-weight-bold: 600

$type-size-base: 19px
$type-leading-base: 1.2

$type-size-small: 0.85rem


// Colors

$color-white: #FFFFFF
$color-black: #000000
$color-grey: #F6F6F6
$color-grey-dark: #666666

$color-green: #00905d
$color-teal: #2cb8ad
$color-yellow: #eecf4d
$color-pink: #ec355b
$color-blue: #18a5d1
$color-purple: #6461a8


// Bourbon + Neat
$max-width: none
