section.blog
  .post
    padding-bottom: 3rem
    margin-bottom: 3rem
    border-bottom: 2px solid $color-pink

    .date
      margin-bottom: 0.5rem
      font-size: $type-size-small


  .cover-photo
    width: 100%
    height: 50vh
    overflow: hidden
    position: relative
    margin-bottom: 3rem

    img
      position: absolute
      top: 0
      left: 0
      width: 100%

section.pagination
  .next
    +span-columns(6)

  .previous
    +span-columns(6)
    text-align: right

  .button
    +button($color: $color-pink)
