section.members
  .member-list
    li
      margin-bottom: 5rem
      +outer-container

  .profile-photo
    +span-columns(3)
    +tablet
      +span-columns(5)
      margin-bottom: 2rem
    +mobile
      +span-columns(12)

  .about
    +span-columns(9)
    +tablet
      +span-columns(7)
    +mobile
      +span-columns(12)

  .link
    margin-top: 1.5rem

    a
      +button
