section.members
  .member-list
    li
      margin-bottom: 5rem
      display: flex
      justify-content: flex-start
      flex-direction: row
      flex-wrap: wrap

  .profile-photo
    width: 20%
    margin-right: 5%

    +tablet
      margin-bottom: 2rem
      width: 35%

    +mobile
      width: 50%

    .avatar
      +filling-image
      border-radius: 100%
      padding-bottom: 100%
      height: 0
      width: 100%
      backface-visibility: visible
      transform: translate3d(0, 0, 0)

      img
        +lazy-image
        max-width: 100%

  .about
    width: 75%

    +tablet
      width: 60%

    +mobile
      width: 100%

  .link
    margin-top: 1.75rem
