section.shop
  .product
    +span-columns(4)
    +omega(3)
    margin-bottom: 2rem

    +tablet
      +span-columns(6)
      +omega(2)

    +mobile
      +span-columns(12)

    a
      text-decoration: none
      display: block

      &:hover
        img
          opacity: 0.75

    .product-photo
      margin-bottom: 2rem

    img
      +transition(100ms linear opacity)

section.single-product
  .product
    padding-bottom: 3rem
    margin-bottom: 3rem
    border-bottom: 2px solid $color-green
    +outer-container

  .product-photo
    +span-columns(6)
    +mobile
      +span-columns(12)

    img
      margin: 0 auto

  .product-price

  .product-info
    +span-columns(5)
    +shift(1)

    +mobile
      +shift(0)
      +span-columns(12)
      margin-top: 2rem

  .product-name,
  .product-price,
  .product-description,
  .product-variations
    margin-bottom: 1rem

  .product-variations
    h4
      font-weight: bold

    dl
      +clearfix

    dt,
    dd
      float: left

    dt
      clear: left
      margin-right: 0.2em

      &::after
        content: ':'

    .variation-name

    .options
      +inline-list
